/*
    Name:       Base16 Tomorrow Dark
    Author:     Clinton Dreisbach

    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

.cm-s-base16-tomorrow-dark.CodeMirror {background: #1d1f21; color: #c5c8c6;}
.cm-s-base16-tomorrow-dark .CodeMirror-selected {background: #373b41 !important;}
.cm-s-base16-tomorrow-dark .CodeMirror-gutters {background: #282a2e; color: #969896; border-right: 0px;}
.cm-s-base16-tomorrow-dark .CodeMirror-linenumber {color: #969896;}
.cm-s-base16-tomorrow-dark .CodeMirror-cursor {border-left: 2px solid #c5c8c6 !important;}

.cm-s-base16-tomorrow-dark span.cm-comment {color: #969896;}
.cm-s-base16-tomorrow-dark span.cm-atom {color: #b294bb;}
.cm-s-base16-tomorrow-dark span.cm-number {color: #de935f;}

.cm-s-base16-tomorrow-dark span.cm-property, .cm-s-base16-tomorrow-dark span.cm-attribute {color: #de935f;}
.cm-s-base16-tomorrow-dark span.cm-keyword {color: #b294bb;}
.cm-s-base16-tomorrow-dark span.cm-string {color: #b5bd68;}

.cm-s-base16-tomorrow-dark span.cm-variable {color: #cc6666;}
.cm-s-base16-tomorrow-dark span.cm-variable-2 {color: #f0c674;}
.cm-s-base16-tomorrow-dark span.cm-def {color: #81a2be;}
.cm-s-base16-tomorrow-dark span.cm-error {background: #cc6666; color: #1d1f21;}
.cm-s-base16-tomorrow-dark span.cm-bracket {color: #c5c8c6;}
.cm-s-base16-tomorrow-dark span.cm-tag {color: #cc6666;}
.cm-s-base16-tomorrow-dark span.cm-link {color: #de935f;}

.cm-s-base16-tomorrow-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
