/*
    Name:       Base16 Chalk Dark
    Author:     Clinton Dreisbach

    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

.cm-s-base16-chalk-dark.CodeMirror {background: #151515; color: #d0d0d0;}
.cm-s-base16-chalk-dark .CodeMirror-selected {background: #303030 !important;}
.cm-s-base16-chalk-dark .CodeMirror-gutters {background: #202020; color: #505050; border-right: 0px;}
.cm-s-base16-chalk-dark .CodeMirror-linenumber {color: #505050;}
.cm-s-base16-chalk-dark .CodeMirror-cursor {border-left: 2px solid #f5f5f5 !important;}

.cm-s-base16-chalk-dark span.cm-comment {color: #505050;}
.cm-s-base16-chalk-dark span.cm-atom {color: #e1a3ee;}
.cm-s-base16-chalk-dark span.cm-number {color: #eda987;}
.cm-s-base16-chalk-dark span.cm-string {color: #acc267;}
.cm-s-base16-chalk-dark span.cm-string-2 {color: #12cfc0;}
.cm-s-base16-chalk-dark span.cm-variable-2 {color: #ddb26f;}
.cm-s-base16-chalk-dark span.cm-def {color: #6fc2ef;}
.cm-s-base16-chalk-dark span.cm-error {background: #fb9fb1; color: #151515;}
.cm-s-base16-chalk-dark span.cm-bracket {color: #d0d0d0;}
.cm-s-base16-chalk-dark span.cm-tag {color: #fb9fb1;}
.cm-s-base16-chalk-dark span.cm-link {color: #eda987;}

.cm-s-base16-chalk-dark span.cm-variable,
.cm-s-base16-chalk-dark span.cm-symbol {color: #fb9fb1;}

.cm-s-base16-chalk-dark span.cm-property,
.cm-s-base16-chalk-dark span.cm-operator {color: #e1a3ee;}

.cm-s-base16-chalk-dark span.cm-attribute,
.cm-s-base16-chalk-dark span.cm-keyword,
.cm-s-base16-chalk-dark span.cm-builtin,
.cm-s-base16-chalk-dark span.cm-header,
.cm-s-base16-chalk-dark span.cm-qualifier,
.cm-s-base16-chalk-dark span.cm-meta {color: #eda987;}

/* Rainbow parens */
.cm-s-base16-chalk-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-chalk-dark span.cm-bracket {color: #e0e0e0; }
.cm-s-base16-chalk-dark span.cm-bracket1 {color: #e0e0e0; }
.cm-s-base16-chalk-dark span.cm-bracket2 {color: #eda987;}
.cm-s-base16-chalk-dark span.cm-bracket3 {color: #ddb26f;}
.cm-s-base16-chalk-dark span.cm-bracket4 {color: #acc267;}
.cm-s-base16-chalk-dark span.cm-bracket5 {color: #12cfc0;}
.cm-s-base16-chalk-dark span.cm-bracket6 {color: #6fc2ef;}
.cm-s-base16-chalk-dark span.cm-bracket7 {color: #e1a3ee;}
.cm-s-base16-chalk-dark span.cm-bracket8 {color: #deaf8f;}
.cm-s-base16-chalk-dark span.cm-bracket9 {color: #eda987;}
.cm-s-base16-chalk-dark span.cm-bracket10 {color: #ddb26f;}
.cm-s-base16-chalk-dark span.cm-bracket11 {color: #acc267;}
.cm-s-base16-chalk-dark span.cm-bracket12 {color: #12cfc0;}
.cm-s-base16-chalk-dark span.cm-bracket0, .cm-s-base16-chalk-dark span.cm-bracket-mismatched { color: #151515; background: #fb9fb1; }
