/*
    Name:       Base16 Twilight Light
    Author:     Clinton Dreisbach

    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

.cm-s-base16-twilight-light.CodeMirror {background: #ffffff; color: #464b50;}
.cm-s-base16-twilight-light .CodeMirror-selected {background: #c3c3c3 !important;}
.cm-s-base16-twilight-light .CodeMirror-gutters {background: #ffffff; color: #464b50; border-right: 0px;}
.cm-s-base16-twilight-light .CodeMirror-linenumber {color: #838184;}
.cm-s-base16-twilight-light .CodeMirror-cursor {border-left: 2px solid #464b50 !important;}

.cm-s-base16-twilight-light span.cm-comment {color: #838184;}
.cm-s-base16-twilight-light span.cm-atom {color: #9b859d;}
.cm-s-base16-twilight-light span.cm-number {color: #cda869;}
.cm-s-base16-twilight-light span.cm-string {color: #8f9d6a;}
.cm-s-base16-twilight-light span.cm-string-2 {color: #afc4db;}
.cm-s-base16-twilight-light span.cm-variable-2 {color: #f9ee98;}
.cm-s-base16-twilight-light span.cm-def {color: #7587a6;}
.cm-s-base16-twilight-light span.cm-error {background: #cf6a4c; color: #ffffff;}
.cm-s-base16-twilight-light span.cm-bracket {color: #a7a7a7;}
.cm-s-base16-twilight-light span.cm-tag {color: #cf6a4c;}
.cm-s-base16-twilight-light span.cm-link {color: #cda869;}

.cm-s-base16-twilight-light span.cm-variable,
.cm-s-base16-twilight-light span.cm-symbol {color: #cf6a4c;}

.cm-s-base16-twilight-light span.cm-property,
.cm-s-base16-twilight-light span.cm-operator {color: #9b859d;}

.cm-s-base16-twilight-light span.cm-attribute,
.cm-s-base16-twilight-light span.cm-keyword,
.cm-s-base16-twilight-light span.cm-builtin,
.cm-s-base16-twilight-light span.cm-header,
.cm-s-base16-twilight-light span.cm-qualifier,
.cm-s-base16-twilight-light span.cm-meta {color: #cda869;}

/* Rainbow parens */
.cm-s-base16-twilight-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket {color: #464b50; }
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket1 {color: #464b50; }
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket2 {color: #cda869;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket3 {color: #f9ee98;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket4 {color: #8f9d6a;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket5 {color: #afc4db;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket6 {color: #7587a6;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket7 {color: #9b859d;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket8 {color: #9b703f;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket9 {color: #cda869;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket10 {color: #f9ee98;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket11 {color: #8f9d6a;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket12 {color: #afc4db;}
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket0, 
.cm-s-base16-twilight-light span.cm-rainbow.cm-bracket.cm-bracket-mismatched { color: #ffffff; background: #cf6a4c; }
