/*
    Name:       Base16 3024 Light
    Author:     Clinton Dreisbach

    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

.cm-s-base16-3024-light.CodeMirror {background: #f7f7f7; color: #4a4543;}
.cm-s-base16-3024-light .CodeMirror-selected {background: #d6d5d4 !important;}
.cm-s-base16-3024-light .CodeMirror-gutters {background: #f7f7f7; color: #4a4543; border-right: 0px;}
.cm-s-base16-3024-light .CodeMirror-linenumber {color: #807d7c;}
.cm-s-base16-3024-light .CodeMirror-cursor {border-left: 2px solid #4a4543 !important;}

.cm-s-base16-3024-light span.cm-comment {color: #807d7c;}
.cm-s-base16-3024-light span.cm-atom {color: #a16a94;}
.cm-s-base16-3024-light span.cm-number {color: #e8bbd0;}

.cm-s-base16-3024-light span.cm-property, .cm-s-base16-3024-light span.cm-attribute {color: #e8bbd0;}
.cm-s-base16-3024-light span.cm-keyword {color: #a16a94;}
.cm-s-base16-3024-light span.cm-string {color: #01a252;}

.cm-s-base16-3024-light span.cm-variable {color: #db2d20;}
.cm-s-base16-3024-light span.cm-variable-2 {color: #e8bbd0;}
.cm-s-base16-3024-light span.cm-def {color: #01a0e4;}
.cm-s-base16-3024-light span.cm-error {background: #db2d20; color: #f7f7f7;}
.cm-s-base16-3024-light span.cm-bracket {color: #4a4543;}
.cm-s-base16-3024-light span.cm-tag {color: #db2d20;}
.cm-s-base16-3024-light span.cm-link {color: #e8bbd0;}

.cm-s-base16-3024-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
